#PUBLI_SITE_URL needed for forgot password email.
PUBLIC_SITE_URL="https://YOURSITEURL.com"

PUBLIC_APP_NAME="SvelteKit Supabase Dashboard (BETA)"
PUBLIC_DEMO_MODE="true" #ENABLE OR DISABLE SOME DEMO MODE HINTS

# SUPABASE
PUBLIC_SUPABASE_URL=""
PUBLIC_SUPABASE_ANON_KEY=""
PRIVATE_SUPABASE_SERVICE_KEY=""
