/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
		@apply mb-3;
	}
	h2 {
		@apply text-xl;
		@apply mb-2;
	}
}

/* FIX svelte-table thead dont update background color, so make it transparent */
.table :where(thead, tfoot) :where(th, td) {
	background: rgba(0, 0, 0, 0);
}
